{% extends "base.html" %}
{% block content %}
  <h1>Milin koirarotutietokanta</h1>

  <p>
    <a href="{{base_path}}/race/new" class="btn btn-success">Lisää rotu</a>
  </p>

  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Nimi</th>
        <th>Numero</th>
        <th>Alkuperämaa</th>
        <th>Status</th>
        <th>Lisäyspäivä</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      {% for race in races %}
        <tr>
          <td><a href="{{base_path}}/race/{{race.id}}">{{race.name}}</td>
          <td>{{race.published}}</td>
          <td>{{race.publisher}}</td>
          <td>
              {% if race.exists %}
                <label class="label label-success">rekisteröity
              {% else %}
                <label class="label label-danger">ei rekisteröity
              {% endif %}
          </td>
          <td>{{race.added}}</td>
          <td><a class="btn btn-default btn-sm" href="{{base_path}}/race/{{race.id}}/edit">Muokkaa</a></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
