{% extends "base.html" %}
{% block content %}
  <!-- Painikkeet tähän -->
  {% if race != false %}
  <p>
    <a href="#" class="btn btn-success">Lisää rotu</a>
  </p>
  <p>
    <a href="#" class="btn btn-success">Lisää roturyhmä</a>
  </p>
  <p>
    <button class="btn btn-danger">Poista</button> <a href="#" class="btn btn-default">Muokkaa</a>
  </p>
  <!-- Tiedot tulee listana tähän -->
  <ul>
    <li><strong>Rotu:</strong>{{race.name}}</li>
    <li><strong>Numero:</strong>{{race.id}}</li>
    <li><strong>Alkuperämaa:</strong>{{race.country}}<li>
    <li><strong>Registered:</strong>{{race.registered}}<label class="label label-danger"></label></li>
    <li><strong>Lisäyspäivä:</strong>{{race.published}}</li>
  </ul>
  <!-- Kuvaus tulee tähän -->
  <p>
    Rodun jälkeen suluissa on sen numero sekä alkuperämaa.
  </p>
  {% else %}
    <p>
    Rotua ei löytynyt!
  </p>
  {% endif %}
{% endblock %}