<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->

<html>
    <head>
        <title>Koirarotutietokanta</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>Tietokantasovelluksen harjoitustyö: Koirarotutietokanta</div>
    </body>
</html>

{% extends "base.html" %}
{% block content %}
  <h1>FCI 1: Lammas- ja karjakoirat</h1>
  <!-- Painikkeet tähän -->
  <p>
    <a href="#" class="btn btn-success">Lisää rotu</a>
  </p>
  <p>
    <a href="#" class="btn btn-success">Lisää roturyhmä</a>
  </p>
  <p>
    <button class="btn btn-danger">Poista</button> <a href="#" class="btn btn-default">Muokkaa</a>
  </p>
  <!-- Tiedot tulee listana tähän -->
  <ul>
    <li><strong>Rotu:</strong> Australiankelpie</li>
    <li><strong>Numero:</strong> 293</li>
    <li><strong>Alkuperämaa:</strong><li>
    <li><strong>Status:</strong> <label class="label label-danger">kesken</label></li>
    <li><strong>Lisäyspäivä:</strong> 5.4.2016</li>
  </ul>
  <!-- Kuvaus tulee tähän -->
  <p>
    FCI:n roturyhmä 1 sisältää lammas- ja karjakoirat (paitsi sveitsinpaimenkoirat). Se jakautuu kahteen alaryhmään. Rodun jälkeen suluissa on sen numero sekä alkuperämaa.
  </p>
{% endblock %}